In [2]:
print('What\'s up?',
"That's \"cool\"",
"Look, a mountain: /\\",
"1\n2 3",
sep="\n"
)

What's up?
That's "cool"
Look, a mountain: /\
1
2 3

##### Triple quote syntax for strings lets us include newlines literally

In [3]:
hello = """hello
world"""
print(hello)

hello
world

The print() function automatically adds a newline character unless we specify a value for the keyword argument end other than the default value of '\n'

## Strings are sequences

In [9]:
sentence = 'Keep it simple'

print(
sentence[1:4],
sentence[-6::2],
len(sentence),
sep="\n"
)

eep
sml
14

#### Strings are immutable (We can not modify them)

## String methods

<code>string.upper()</code> String to uppercase

<code>string.lower()</code> String to lowercase

<code>string.index(substring)</code> Searching for the first index of a substring

<code>string.index('substring')</code> Searching for the first index of a substring

<code>string.startswith('substring')</code>
<code>string.endswith('substring')</code>

<code>string.split()</code> Turns a string into a list of smaller strings, breaking on whitespace by default (Unless you give it a parameter between 
parenthesis)

In [13]:
sentece = "Keep it simple on"
date = '1-06-2002'

words = sentence.split()
datesentence = date.split('-')

print(words, datesentence, sep="\n")

['Keep', 'it', 'simple']
['1', '06', '2002']

<code>separator.join(list_of_strings)</code> Joining a list of strings up into one long string, using the string it was called on as a separator.

In [14]:
words = ['Keep', 'it', 'simple']
datesentence = ['1', '06', '2002']

sentence = " ".join(words)
date = "-".join(datesentence)

print(sentence, date, sep="\n")

Keep it simple
1-06-2002

## Concatenate strings

- Using <code>+</code> operator:

In [17]:
planet = 'Pluto'
position = 9
planet + ", you'll always be the " + str(position) + "th planet to me."

"Pluto, you'll always be the 9th planet to me."

- Using <code>str.format()</code>:

In [18]:
"{}, you'll always be the {}th planet to me.".format(planet, position)

"Pluto, you'll always be the 9th planet to me."

In [24]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

# Dictionaries

They're a built-in Python data structure for mapping keys to values

In [25]:
numbers = {'one':1, 'two':2, 'three':3}

In [26]:
numbers['one']

1

In [27]:
numbers['four'] = 4
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

### Dictionary comprehensions

In [28]:
numbers['one'] = 'Pluto'
print(numbers)

{'one': 'Pluto', 'two': 2, 'three': 3, 'four': 4}

In [29]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [30]:
planet_to_initial = {planet: planet[0] for planet in planets}
print(planet_to_initial)

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}

<code>in</code> operator tells us whether something is a key in the dictionary

In [31]:
'Saturn' in planet_to_initial

True

In [33]:
print(numbers)
for k in numbers:
    print("{} = {}".format(k, numbers[k]))

{'one': 'Pluto', 'two': 2, 'three': 3, 'four': 4}
one = Pluto
two = 2
three = 3
four = 4

We can access a collection of all the keys or all the values with <code>dict.keys()</code> and <code>dict.values()</code>, respectively.

In [35]:
print(planet_to_initial)
" ".join(sorted(planet_to_initial.values()))

{'Mercury': 'M', 'Venus': 'V', 'Earth': 'E', 'Mars': 'M', 'Jupiter': 'J', 'Saturn': 'S', 'Uranus': 'U', 'Neptune': 'N'}

'E J M M N S U V'

<code>dict.items()</code> method let us iterate over the keys and values of a dictionary simultaneously.

In [41]:
for planet, initial in planet_to_initial.items():
    print("{} begins with \"{}\"".format(planet.rjust(10), initial))

   Mercury begins with "M"
     Venus begins with "V"
     Earth begins with "E"
      Mars begins with "M"
   Jupiter begins with "J"
    Saturn begins with "S"
    Uranus begins with "U"
   Neptune begins with "N"